<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/894cadfa-2ea1-4fd5-a9e3-aea090ee8e69/resourcegroups/FA2024-Assignment1-crogers20240909010244ResourceGroup/providers/Microsoft.Web/sites/FA-2024-Assignment3-crogers20241009003945</ResourceId>
    <ResourceGroup>FA2024-Assignment1-crogers20240909010244ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-2024-assignment3-crogers20241009003945.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>64c9bfd8-d939-4041-8090-8ada0f0b33f8</ProjectGuid>
    <MSDeployServiceURL>fa-2024-assignment3-crogers20241009003945.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FA-2024-Assignment3-crogers20241009003945</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FA-2024-Assignment3-crogers20241009003945</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>