@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site helps manage your favorite movies and actors, and also list which actors are in which movies. Have fun!</p>
</div>
